@media (min-width: 768px) {
    * {
        box-sizing: border-box;
      }
    body{
        width: 969px;
        margin: 0 auto;
    }
    div{
        border: solid 0.05px black;
        background-color: gray;
    }

    div:nth-child(1){
        width: 960px;
        height: 100px;
    }

    div:nth-child(2){
        width: 200px;
        height: 600px;
    }

    div:nth-child(3){
        width: 380px;
        height: 200px;
    }

    div:nth-child(4){
        width: 380px;
        height: 200px;
    }

    div:nth-child(5){
        width: 190px;
        height: 250px;
    }

    div:nth-child(6){
        width: 190px;
        height: 250px;
    }

    div:nth-child(7){
        width: 190px;
        height: 250px;
    }

    div:nth-child(8){
        width: 190px;
        height: 250px;
    }

    div:nth-child(9){
        width: 760px;
        height: 150px;
    }


    /* layout */

    div:nth-child(2){
        float: left;
        display: inline-block;
    }

    div:nth-child(3) , div:nth-child(4){
        float: left;
        display: inline-block;
    }

    div:nth-child(5) , div:nth-child(6), div:nth-child(7) , div:nth-child(8){
        float: left;
        display: inline-block;
    }

    div:nth-child(9){
        float: left;
        display: inline-block;
    }
  }



 
@media (max-width: 767px) {
    /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}